@import '../../styles/variables';

.button {
	outline: none;
	width: 200px;
	height: 50px;
	background: $darkgrey;
	border: none;

	&DarkBorder {
		border: 1px solid $white;
	}

	&White {
		background: $white;
		border: 1px solid $darkgrey;
	}
}
